:root {
  --primary-color: #0f171e;
  --secondary-color: #1a242f;
  --font-primary: #ffffff;
  --font-secondary: #79b8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-primary);
}

body {
  background: var(--primary-color);
}

.container {
  margin: 0px 40px;
}
